<h1>SignUp page</h1>

<p>{{error}}</p>


<form method="post" action="/api/sessions/signup">
    <input type="text" name="name" placeholder="Username:">
    <br>
    <input type="email" name="email" placeholder="Email Address:">
    <br>
    <input type="password" name="password" placeholder="Password:">
    <br>
    <button>Sign Up</button>
</form>